#driverTable {
  
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
   
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  

  /* identical to box height, or 114% */
  letter-spacing: -0.01em;
  
  /* Grey/900 */
  color: #171719;
  background-color: #fff;
}

#driverTable tr { 
  line-height: 30px; 
  border-bottom: 1px solid #E0E2EB;
}
#driverTable td, #driverTable th {
  padding: 10px;
}

/*#driverTable tr:nth-child(even){background-color: #f2f2f2;}*/

#driverTable tr:hover {
  background-color: #E7E9EE;
}

#driverTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #E0E2EB;
  color: #171719;
}