body {
  
  font-family: 'Scania Sans CY Semi Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  
  /* identical to box height, or 114% */
  letter-spacing: -0.01em;
  
  /* Grey/900 */
  color: #171719;
  
}
