html, body {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
}
.scaniaBlue {
  background-color: #041E42;
}
.scaniaHeader {
  background-color: #fff;
  font: 
}
.scaniaContent {
  background-color: #E5E5E5;
}
.scaniaLogo {
  height: 3em;
}
.scaniaTableHeader {
  background: #E0E2EB;
}

.headerText {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-left: 1em;
}

.resetButton {
  color: #2058A8 !important;
}